body{
  background:url(../images/free-business-plan-templates.jpg);
  background-attachment:fixed;
  background-size:cover;
  padding-top: 5rem;
}
.rdtPicker {
  right: 0;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.dropdown-menu-right {
  right: 0; 
  left: auto; 
}
#container_demo{
  text-align: left;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
}
a.hiddenanchor{
  display: none;
}
/** The wrapper that will contain our two forms **/
#wrapper{
  width: 60%;
  right: 0px;
  min-height: 560px;
  margin: 0px auto;
  width: 500px;
  position: relative;
}
/**** Styling the form elements **/

/**** general text styling ****/
#wrapper a{
  color: rgb(95, 155, 198);
  text-decoration: underline;
}
#wrapper h1{
  font-size: 48px;
  color: rgb(6, 106, 117);
  padding: 2px 0 10px 0;
  font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
}
/** For the moment only webkit supports the background-clip:text; */
#wrapper h1{
  background: -webkit-repeating-linear-gradient(-45deg,
  rgb(18, 83, 93) ,
  rgb(18, 83, 93) 20px,
  rgb(64, 111, 118) 20px,
  rgb(64, 111, 118) 40px,
  rgb(18, 83, 93) 40px);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
#wrapper h1:after{
  content: ' ';
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 10px;
  background: -moz-linear-gradient(left, rgba(147,184,189,0) 0%, rgba(147,184,189,0.8) 20%, rgba(147,184,189,1) 53%, rgba(147,184,189,0.8) 79%, rgba(147,184,189,0) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(147,184,189,0)), color-stop(20%,rgba(147,184,189,0.8)), color-stop(53%,rgba(147,184,189,1)), color-stop(79%,rgba(147,184,189,0.8)), color-stop(100%,rgba(147,184,189,0)));
  background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%);
  background: -o-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%);
  background: -ms-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%);
  background: linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%);
}
#wrapper p{
  margin-bottom:15px;
}
#wrapper p:first-child{
  margin: 0px;
}
#wrapper label{
  color: rgb(64, 92, 96);
  position: relative;
}

/**** advanced input styling ****/
/* placeholder */
::-webkit-input-placeholder  {
  color: rgb(190, 188, 188);
  font-style: italic;
}
input:-moz-placeholder,
textarea:-moz-placeholder{
  color: rgb(190, 188, 188);
  font-style: italic;
}
input {
  outline: none;
}

/* all the input except submit and checkbox */
#wrapper input:not([type="checkbox"]){
  width: 92%;
  margin-top: 4px;
  padding: 10px 5px 10px 32px;
  border: 1px solid rgb(178, 178, 178);
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing : content-box;
  box-sizing : content-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#wrapper input:not([type="checkbox"]):active,
#wrapper input:not([type="checkbox"]):focus{
  border: 1px solid rgba(91, 90, 90, 0.7);
  background: rgba(238, 236, 240, 0.2);
  -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
  -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
  box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
}

/** the magic icon trick ! **/
[data-icon]:after {
  content: attr(data-icon);
  font-family: 'FontomasCustomRegular';
  color: rgb(106, 159, 171);
  position: absolute;
  left: 10px;
  top: 35px;
  width: 30px;
}

/*styling both submit buttons */
#wrapper p.button input{
  width: 30%;
  cursor: pointer;
  background: rgb(61, 157, 179);
  padding: 8px 5px;
  font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
  color: #fff;
  font-size: 24px;
  border: 1px solid rgb(28, 108, 122);
  margin-bottom: 10px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
  0px 0px 0px 3px rgb(254, 254, 254),
  0px 5px 3px 3px rgb(210, 210, 210);
  -moz-box-shadow:0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
  0px 0px 0px 3px rgb(254, 254, 254),
  0px 5px 3px 3px rgb(210, 210, 210);
  box-shadow:0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
  0px 0px 0px 3px rgb(254, 254, 254),
  0px 5px 3px 3px rgb(210, 210, 210);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#wrapper p.button input:hover{
  background: rgb(74, 179, 198);
}
#wrapper p.button input:active,
#wrapper p.button input:focus{
  background: rgb(40, 137, 154);
  position: relative;
  top: 1px;
  border: 1px solid rgb(12, 76, 87);
  -webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
}
p.login.button,
p.todo.button,

/*styling the links to change from one form to another */

p.change_link{
  position: absolute;
  color: rgb(127, 124, 124);
  left: 0px;
  height: 20px;
  padding: 17px 30px 20px 30px;
  font-size: 16px	;
  text-align: right;
  border-top: 1px solid rgb(219, 229, 232);
  -webkit-border-radius: 0 0  5px 5px;
  -moz-border-radius: 0 0  5px 5px;
  border-radius: 0 0  5px 5px;
  background: rgb(225, 234, 235);
  background: -moz-repeating-linear-gradient(-45deg,
  rgb(247, 247, 247) ,
  rgb(247, 247, 247) 15px,
  rgb(225, 234, 235) 15px,
  rgb(225, 234, 235) 30px,
  rgb(247, 247, 247) 30px
  );
  background: -webkit-repeating-linear-gradient(-45deg,
  rgb(247, 247, 247) ,
  rgb(247, 247, 247) 15px,
  rgb(225, 234, 235) 15px,
  rgb(225, 234, 235) 30px,
  rgb(247, 247, 247) 30px
  );
  background: -o-repeating-linear-gradient(-45deg,
  rgb(247, 247, 247) ,
  rgb(247, 247, 247) 15px,
  rgb(225, 234, 235) 15px,
  rgb(225, 234, 235) 30px,
  rgb(247, 247, 247) 30px
  );
  background: repeating-linear-gradient(-45deg,
  rgb(247, 247, 247) ,
  rgb(247, 247, 247) 15px,
  rgb(225, 234, 235) 15px,
  rgb(225, 234, 235) 30px,
  rgb(247, 247, 247) 30px
  );
}
p.change_link.login {
  width: 438px;
}
p.change_link.todo {
  width: 498px;
}
#wrapper p.change_link a {
  display: inline-block;
  font-weight: bold;
  background: rgb(247, 248, 241);
  padding: 2px 6px;
  color: rgb(29, 162, 193);
  margin-left: 10px;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid rgb(203, 213, 214);
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s  linear;
  -o-transition: all 0.4s linear;
  -ms-transition: all 0.4s  linear;
  transition: all 0.4s  linear;
}
#wrapper p.change_link a:hover {
  color: rgb(57, 191, 215);
  background: rgb(247, 247, 247);
  border: 1px solid rgb(74, 179, 198);
}
#wrapper p.change_link a:active{
  position: relative;
  top: 1px;
}
#login{
  position: absolute;
  top: 0px;
  width: 88%;
  padding: 18px 6% 60px 6%;
  margin:0  35px;
  background: rgb(247, 247, 247);
  border: 1px solid rgba(147, 184, 189,0.8);
  -webkit-box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
  -moz-box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
  box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
  -webkit-box-shadow: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  z-index: 22;
}
#todo{
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 18px 6% 60px 6%;
  margin:0  35px;
  background: rgb(247, 247, 247);
  border: 1px solid rgba(147, 184, 189,0.8);
  -webkit-box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
  -moz-box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
  box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
  -webkit-box-shadow: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  z-index: 22;
}

/** yerk some ugly IE fixes 'cause I know someone will ask "why does it look ugly in IE?", no matter how many warnings I will put in the article */

.lt8 #wrapper input{
  padding: 10px 5px 10px 32px;
  width: 92%;
}
.lt8 #wrapper input[type=checkbox]{
  width: 10px;
  padding: 0;
}
.lt8 #wrapper h1{
  color: #066A75;
}
.lt8 #register{
  display: none;
}
.lt8 p.change_link,
.ie9 p.change_link{
  position: absolute;
  height: 90px;
  background: transparent;
}
